//- text-banner.pug
section.text-banner
	.container.text-banner__container
		.text-banner__grid
			.text-banner__panel
				h2.section__title.text-banner__title
					| Безопасная химия
					br
					| премиум-класса:
					br
					| сила без вреда
					br
					| для вашей семьи

				p.section__subtitle.text-banner__subtitle
					| Стоимость нашей уборки включает использование только безопасных составов ведущих
					| европейских и российских брендов. Это не агрессивная «бытовая химия», а
					| специализированные составы: отдельно для стекол, сантехники, кухонных жиров,
					| натурального и искусственного камня. Они не оставляют разводов, вредных
					| испарений или опасных для детей и животных остатков на поверхностях. Мы точно
					| знаем, какое средство применять для каждой задачи, что гарантирует безупречный
					| итог и сохранность ваших отделочных материалов, мебели и техники. Цена, которая
					| оправдана технологиями и безопасностью.

			.text-banner__media
				picture
					source(
						srcset="./assets/img/Frame-47.png"
						media="(max-width: 767px)"
					)
					img.text-banner__img(
						src="./assets/img/Group 438.png"
						alt="Оборудование и химия"
						loading="lazy"
					)
